<nav class="navbar navbar-expand-lg navbar-dark  bg-secondary bg-gradiant">
  <div class="container">

          <a class="navbar-brand" href="#">Devanshu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"></div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
              </ul>
                  <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          HTML
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="/html/day1">Day 1</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul> 
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          CSS
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="/css/day1">Day 1</a></li>
                          <li><a class="dropdown-item" routerLink="/css/day2">Day 2</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          JavaScript
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="/js/day1">Day 1</a></li>
                          <li><a class="dropdown-item" routerLink="/js/day2">Day 2</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul> -->
               
                  <button class="btn btn-danger" routerLink="/login">LogIn</button>
              

          </div>
          
      </div>
</nav>
<!-- <div class="container">
  <div class="m-4">
    <router-outlet></router-outlet>
  </div>
</div> -->

<router-outlet></router-outlet>
