<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div id="user-data" ngModelGroup="userdata" #userdata="ngModelGroup">
        <div class="form-group">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" ngModel name="username" required>
        </div>
        <button class="btn btn-danger m-3" type="button" (Click)="suggestUsername()">SuggestUserName</button>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
        </div>
    </div>
    <span class="help-block" *ngIf="!userdata.valid && userdata.touched">Please enter a valid User data</span>
    <div class="from-group">
        <label class="form-label">Select Question</label>
        <select class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your First Pet?</option>
            <option value="pet">Your First Teacher?</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label">Answer</label>
        <textarea rows="3" class="form-control" name="queAns" [(ngModel)]="answer"></textarea>
    </div>

    <p>Answer: {{answer}}</p>

    <div class="radio" *ngFor="let gender of genders">
        <label>
            <input type="radio" name="gender" [value]="gender" ngModel>
            {{gender}}
        </label>
    </div>
    <button class="btn btn-primary m-3" type="submit" [disabled]="!f.valid">Submit</button>
</form>

<div *ngIf="submitted">
    <h3>Data</h3>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Secret Question: {{user.secrateQuestion}}</p>
    <p>Answer: {{user.answer}}</p>
    <p>Gender: {{user.gender}}</p>
</div>