
    <header id="header">
        <section id="title">        
            <h1>Name Of the Company</h1>
        </section>
        <section id="navbar">
            <ul >
                <li class="links"><button><a href="#Home">Home   </a></button></li>
                <li class="links"><button><a href="#contact">Contact  </a></button> </li>
                <li class="links"><button><a href="#AboutUs">AboutUs</a></button> </li>
            </ul>
        </section>    
    </header>

    <aside id="sidebar">
            

    </aside>

    <section id="mainsection">
            
    </section>
    <footer id="footer">
        
    </footer>
