<div class="container">
    <div class="row m-4 d-flex justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/html.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HTML</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="/html" class="btn btn-primary">Html Files</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/css.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CSS</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="/css" class="btn btn-primary">CSS Files</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/javascript.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">JavaScript</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">JavaScript Files</a>
                </div>
              </div>
        </div>
    </div>

</div>
<!-- <router-outlet></router-outlet> -->