<div class="row w-75">
    <div class="col-3"  style="height: 900px; background-color: gainsboro;">
      <ul class="m-5">
          <li>
            <a class="btn btn-light" routerLink="./day1">Day 1</a>
          </li>
          <li>
            <a class="btn btn-light mt-3 " routerLink="./day2"> Day 2</a>
          </li>
      </ul>  
    </div>
    <div class="col-9">
        <div class=" m-5 d-flex justify-content-center">
            <router-outlet></router-outlet>    
        </div>
    </div>
</div>
 <!-- <div class="row w-75">
  <div class="col-3" style="height: 500px;">
    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
      <a class="navbar-brand" href="#">Navbar</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" routerLink="./day1">Item 1</a>

        <a class="nav-link" routerLink="./day2">Item 2</a>
       <a class="nav-link" href="#item-3">Item 3</a>
      </nav>
    </nav>
  </div>
  <div class="col-9">
    <div class="m-5 d-flex" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>   -->